<!DOCTYPE html>
<html>
  <head>
    <title>CatStation</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

     <script src="https://kit.fontawesome.com/5fbea3a1e3.js" crossorigin="anonymous"></script>

    <script type="text/javascript">
        window.brentURL = "<%= image_url('catstation-logo.png') %>";
        window.profileBackground = "<%= image_url('profile-background-cat.jpg') %>";
        window.profileHeader = "<%= image_url('catstation-profile-header.jpg') %>";

        window.profileBannerTwo = "<%= image_url('profile-banner-2.jpg') %>";
        window.profileBannerThree = "<%= image_url('profile-banner-3.jpg') %>";

        window.proBannerOne = "<%= image_url('banner-1.jpg') %>";
        window.proBannerTwo = "<%= image_url('banner-2.jpg') %>";
        window.proBannerThree = "<%= image_url('banner-3.jpg') %>";
        window.proBannerFour = "<%= image_url('banner-4.jpg') %>";

        window.proBannerFive = "<%= image_url('banner-5.jpg') %>";
        window.proBannerSix = "<%= image_url('banner-6.jpg') %>";
        window.proBannerSeven = "<%= image_url('banner-7.jpg') %>";
        window.proBannerEight = "<%= image_url('banner-8.jpg') %>";




        window.splashURL = "<%= image_url('splash-image.png') %>";
        
    </script>

    <script>
        <% if logged_in? %>
            window.currentUser = {
              "id": <%= current_user.id %>,
              "username": "<%= current_user.username %>",
              "email": "<%= current_user.email %>"
            };
        <% end %>
    </script>

    <link rel="icon" 
      type="image/png" 
      href="https://catstation-seeds.s3-us-west-1.amazonaws.com/catstation-favicon.png">

    <link href="https://fonts.googleapis.com/css2?family=Commissioner:wght@200;500;600;700&display=swap" rel="stylesheet">

      <meta property="og:title" content="CatStation" />
     <meta property='og:image' content="<%= image_url('CatStation-Preview.png') %>"/>
     <meta property="og:description"
       content="A website clone of ArtStation, focused on user's cat photos."
     />
     <meta property="og:url"
       content="https://catstation-app.herokuapp.com/#/"
     />

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
